
.gallery-section{
  width: 100%;
  background: #f1f1f1;
}

.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.gallery-section .gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ffffff;
}

.gallery-section .image{
  flex: 25%;
  overflow: hidden;
  cursor: pointer;
}

.gallery-section .image img{
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

.gallery-section .image video{
  width: 100%;
  height: 100%;
  transition: 0.4s;
  justify-content: center;
}

.gallery-section .image iframe{
  width: 100%;
  height: 100%;
  transition: 0.4s;
  justify-content: center;
}

.gallery-section .image:hover img{
  transform: scale(1.3) rotate(15deg);
}

.gallery-section .image:hover video{
  transform: scale(1.3) rotate(15deg);
}

.gallery-section .image:hover iframe{
  transform: scale(1.3) rotate(15deg);
}

@media screen and (max-width:960px) {
  .gallery-section .image{
    flex: 33.33%;
  }
}

@media screen and (max-width:768px) {
  .gallery-section .image{
    flex:  33.33%;
  }
}

@media screen and (max-width:480px) {
  .gallery-section .image{
    flex: 33.33%;
  }
}
